body{
    
  
.infperso{
    color: cornflowerblue;
}
.form{
    color: cornflowerblue;
}
.expperso{
    color: cornflowerblue;
}
.comp{
    color: cornflowerblue;
}
.compexpro{
    color: cornflowerblue;
}
.lng{
    color: cornflowerblue;
}
.cd{
    color: cornflowerblue;
}